@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 98%;
    --foreground: 72 10% 10%;

    --muted: 48 56% 96%;
    --muted-foreground: 72 10% 10%;

    --popover: 48 83% 98%;
    --popover-foreground: 72 10% 10%;

    --card: 48 83% 98%;
    --card-foreground: 72 10% 10%;

    --border: 69 6% 45%;
    --input: 69 6% 45%;

    --primary: 76 100% 20%;
    --primary-foreground: 0 0% 100%;
    --primary-container: 78 87% 64%;
    --primary-container-foreground: 79 100% 6%;

    --secondary: 76 15% 33%;
    --secondary-foreground: 0 0% 100%;

    --accent: 172 28% 31%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 75% 42%;
    --destructive-foreground: 0 0% 100%;

    --ring: 67 13% 75%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 72 10% 10%;
    --foreground: 53 14% 88%;

    --muted: 72 14% 7%;
    --muted-foreground: 53 8% 77%;

    --popover: 72 10% 10%;
    --popover-foreground: 53 14% 88%;

    --card: 72 10% 10%;
    --card-foreground: 53 14% 88%;

    --border: 69 6% 55%;
    --input: 69 6% 55%;

    --primary: 77 66% 53%;
    --primary-foreground: 77 100% 10%;

    --secondary: 75 23% 73%;
    --secondary-foreground: 78 29% 15%;

    --accent: 170 33% 72%;
    --accent-foreground: 174 93% 11%;

    --destructive: 6 100% 84%;
    --destructive-foreground: 357 100% 21%;

    --ring: 75 9% 26%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
